{% extends "./base.html" %}
{% load comment_block %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>晓宏随笔文章明细</title>
</head>
<body>
{% block search %} {% endblock %}
{% block title %} {{ post.title }} {% endblock %}
{% block main %}
    {#配置代码高亮#}
    {% block extra_head %}
     <link rel="stylesheet"
        href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/googlecode.min.css">
        <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    {% endblock %}
    {% if post %}
        <center>
        <h3>{{ post.title }}</h3>
            <div>
                <span>分类:&ensp;{{ post.category.name }}</span>
                <span>&emsp;作者:&ensp;{{ post.owner.username }}</span>
                <span>&emsp;访问量:&ensp;{{ post.uv }}</span>
                <span>&emsp;日期:&ensp;{{ post.create_time }}</span>
            </div>
        </center>
        <hr/>
        {% autoescape off %}
        {{ post.content }}
{#        <p> markdown效果：{{ post.content_html|safe }}</p>#}
        {% endautoescape %}
    {% endif %}
    <hr/>
    {% comment_block request.path %}
{#    <div class="comment">#}
{#      <form class="form-group" action="/comment/" method="POST">#}
{#          {% csrf_token %}#}
{#          <input name="target" type="hidden" value="{{ request.path }}">#}
{#          {{ comment_form }}#}
{#          <input type="submit" value="写好了!"/>#}
{#      </form>    #}
{#      <ul class="list-group">#}
{#          {% for comment in comment_list %}#}
{#          <li class="list-group-item">#}
{#              <div class="nickname">#}
{#                  <a href="{{ comment.website }}">{{ comment.nickname }}</a>#}
{#                    <span>{{ comment.create_time }}</span>#}
{#              </div>#}
{#              <div class="comment-content">#}
{#                  {{ comment.content }}#}
{#              </div>#}
{#          </li>#}
{#          {% endfor %}#}
{#      </ul>#}
{#    </div>#}
    <script>hljs.highlightAll();</script>
{% endblock %}
</body>
</html>