{% extends "blog/base.html" %}
{% block title %} 友情链接 {% endblock %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block main %}
    <table class="table">
    <thead>
    <tr>
        <th scope="col">序号</th>
        <th scope="col">名称</th>
        <th scope="col">网址</th>
    </tr>
    </thead>
    <tbody>
       {% for link in link_list %}
         <tr>
             <th scope="row">{{ forloop.counter }}</th>
             <td>&ensp;&ensp;{{ link.title }}</td>
             <td>&ensp;&ensp;<a href="{{ link.href }}">{{ link.href }}</a></td>
         </tr>
       {% endfor %}
    </tbody>
    </table>
{% endblock %}
</body>
</html>