    <label>回复评论：</label>
    <p>
     <div class="comment">
      <form class="form-group" action="/comment/" method="POST">
          {% csrf_token %}
          <input name="target" type="hidden" value="{{ target }}">
          {{ comment_form }}
          <p>
          &emsp;&emsp;<input type="submit" value="提交评论"/>
      </form>
      <ul class="list-group">
          {% for comment in comment_list %}
          <li class="list-group-item">
              <div class="comment-content">
                  {% autoescape off %}
                  {{ comment.content }}
                  {% endautoescape %}
              </div>
              <div class="nickname">
                  <a href="{{ comment.website }}">{{ comment.nickname }}</a>
                  <span>&emsp;&emsp;{{ comment.create_time }}</span>
              </div>
          </li>
          {% endfor %}
      </ul>
    </div>